html {
  padding: 0;
  height: 100%;
 }
 body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: whitesmoke;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .................................................... */
.title {
  font-size: 1.625rem;
  font-weight: bold;
  padding: 1.125em 0 1.125em 1rem;
  margin: 0;
 }
 .container {

  padding: 1rem;
  background: white;
  margin: 1rem ;
 }

 .primary-button{
  background-color: #0051BA; 
  border: none;
  color: white;
  padding:0 16px;
  height: 36px;
  text-align: center;
  text-decoration: none;
  font-size: 14pt;
  border-radius: 2px;
  margin: 0 1rem;
  max-width: 120px;
 }
 .secondary-button{
  background-color: #ffffff;
  border: solid 2px #0051BA;
  color: #0051BA;
  padding:0 16px;
  height: 36px;
  text-align: center;
  text-decoration: none;
  font-size: 14pt;
  border-radius: 2px;
  margin: 0 1rem;
  max-width: 120px;
 }
 .primary-button:hover{
  background-color: 	#002F6B; 
  
 }
 .secondary-button:hover{
  background-color: 	whitesmoke; 
 }
 .filterButton{
   
   margin-right: 1rem !important;
 }
 svg{
   margin: auto 0;
 }
/* .................................................... */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  background-color: white;
}

 td,  th {
  border: 1px solid #ddd;
  padding: 8px;
}
td{
  min-height: 60px;
}

 tr:nth-child(odd){background-color: #f7f7f7;}

 tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #eeeeee;
  color: black;
  text-align: center;
  
}

p{
  margin: 2px;
  display: flex;
  justify-content: center;
}


a{
  display: flex;
  vertical-align: middle;
}

.reverse-row{
  width: 100%;
  display: flex;
  justify-content: end;
}

h2{
  margin: auto;
}
.flexLine{
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: auto;
}

.flexColumn{
  display: flex;
  flex-direction: column; 
}
.alignCenter{
  align-self: center;
}

select { 
  background:none;
  color: black;
  text-align: center;
  font-size: medium;
}
/* .................................................... */


.input-wrapper{
  display: inline-flex;
  width: 100%;
  border-bottom: solid 1px#0058A3;
}
.input-wrapper .icon{
  display: flex;
  align-items: center;
  
  cursor: pointer;
}
.input-wrapper input{
  width: 90%;
  border-style: none;
  background: white;
 
 
}
.input-wrapper input:focus, select:focus{
 outline: none;
}

.input-container .error{
  color: red;
  font-size: small;
  
}
.input-container{
  margin-bottom: 2rem;

}

input:-webkit-autofill:active{
  -webkit-text-fill-color: white;
}
select{
  border-style: none;
  
}

label{
  display: inline-block;
  width: 120px;
  margin: auto 0.5rem !important;
}
/* .................................................... */
.formik {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ItemCard-info{
  max-width: 100%; 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}


.ItemCard-info :nth-child(odd) {
  grid-area: 1 / 1 / 2 / 2;  
  margin: 0.5rem auto;


}
.ItemCard-info :nth-child(even) {
  grid-area: 1 / 2 / 2 / 3;  
  margin: 0.5rem auto;
}
.react-datepicker-wrapper, .react-datepicker__input-container  {
  margin-bottom: 0 !important;
}
/***************************************************************************/

.contenido {
  display: flex;
	flex-direction: column;
	align-items: center;

}

.contenido h1 {
		font-size: 30px;
		font-weight: 600;
		margin-bottom: 15px;
	}

	.contenido p {
		font-size: 18px;
		margin-bottom: 50px;
	}
  .contenido table p {
    margin-bottom: 5px;
  }


  /************************************************/
  .checkBox{
    margin: auto !important;
  }
 .botonCerrarForm{
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  cursor: pointer;
  transition: .3s ease all;
  border-radius: 5px;
  color: #1766DC;
 }
  .openTableIcon{
    font-size: x-large;
  }

  /**************************************************/
  .multiselect-card{
    display: flex;
    flex-direction: row;
    max-height: 44px !important
  }
  
  .ItemCard-info :nth-child(odd){
   
    border: none !important;
  }
  .p-multiselect{
    margin: 0 !important;
  }
  .p-multiselect .p-multiselect-label {   
    padding: 0 !important;
    font-size: small;
  }
  .p-checkbox .p-checkbox-box.p-highlight {
    border:none !important;
    background-color: #1766DC !important;
  }
  .p-multiselect-label-container {
    margin: 0 !important
  }