html {
  padding: 0;
  height: 100%;
 }
 body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: white;
 }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* .................................................... */
.title {
  font-size: 1.625rem;
  font-weight: bold;
  padding: 1.125em 0 1.125em 1rem;
  margin: 0;
 }
 .container {
  margin-bottom: 1rem;
  padding: 1rem;
 }

 .primary-button{
  background-color: #0051BA; /* Green */
  border: none;
  color: white;
  padding:0 16px;
  height: 36px;
  text-align: center;
  text-decoration: none;
  font-size: 14pt;
  border-radius: 2px;
  margin: 0 1rem;
  max-width: 120px;
 }
/* .................................................... */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 90%;
  margin: auto;
  background-color: white;
}

 td,  th {
  border: 1px solid #ddd;
  padding: 8px;
}
td{
  min-height: 50px;
}

 tr:nth-child(odd){background-color: #f7f7f7;}

 tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #eeeeee;
  color: black;
  text-align: center;
  
}

p{
  margin: 2px;
  display: flex;
  justify-content: center;
}
/* .................................................... */
nav{
  background-color: #0058A3;
  display: flex;
  flex-direction: row-reverse;
}

nav  >ul{
  
 margin: auto 0;
 display: flex;

 padding: 1.25rem;

}

nav >ul > li {
  display: inline-block;
  color: white;
  list-style: none ;
  margin: 0 1rem;
}

nav > ul >li > a {
  color:white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;  
}

.input-wrapper{
  display: inline-flex;
  width: 100%;
  border-bottom: solid 1px#0058A3;
}
.input-wrapper .icon{
  display: flex;
  align-items: center;
  
  cursor: pointer;
}
.input-wrapper input{
  width: 90%;
  border-style: none;
  background: white;
 
 
}
.input-wrapper input:focus, select:focus{
 outline: none;
}

.input-container .error{
  color: red;
  font-size: small;
  
}
.input-container{
  margin-bottom: 2rem;

}

input:-webkit-autofill:active{
  -webkit-text-fill-color: white;
}
.formik {
  max-width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.ItemCard-info{
  max-width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
 grid-template-rows: 1fr;
}

.ItemCard-Colum1{
  grid-area: 1 / 1 / 2 / 2;
  margin: auto;


}
.ItemCard-Colum2 { grid-area: 1 / 2 / 2 / 3;
  margin: auto;

 
}
label{
  display: inline-block;
  width: 120px;
}
.ItemCard-Botonera{
  display: flex;
  flex-direction: row-reverse;
 
}

select{
  border-style: none;
  
}


.reverse-row{
  
  display: flex;
  flex-direction: column-reverse;
  align-items: end;
}

a{
  display: flex;
  vertical-align: middle;
}

.flexLine{
  display: flex;
  
}
